<footer>
    <div class="footer-content">
      <!-- Левая часть: иконки + адрес -->
      <div class="footer-left">
        <div class="services">
          <div class="service">
            <div class="service_image">
              <img class="blueHeart" src="/assets/footer_heart.png" alt="heart" />
            </div>
           
            <p>Готовим вручную и с любовью</p>
          </div>
          <div class="service">
           <div class="service_image">
            <img src="/assets/track.png" alt="truck" />
           </div> 
            <p>Доставим в день заказа</p>
          </div>
          <div class="service">
            <div class="service_image">
              <img src="/assets/drop.png" alt="drop" />
            </div>
            
            <p>100% миндальная мука и натуральные ингредиенты</p>
          </div>
        </div>
        <div class="rights">
          © 2021 Макароншоп<br />
          ООО "Квантум", Санкт-Петербург, улица Маршала Тухачевского, дом 22
        </div>
      </div>
  
      <!-- Центр: 3 колонки меню -->
      <div class="footer-center">
        <ul>
          <li class="footer-title">Информация</li>
          <li>О компании</li>
          <li>Гарантия вкуса и свежести</li>
          <li>Доставка и оплата</li>
          <li>Контакты</li>
        </ul>
        <ul>
          <li class="footer-title">Каталог</li>
          <li>Каталог десертов</li>
          <li>Готовые наборы</li>
          <li>Собрать свой набор</li>
          <li>Акции</li>
        </ul>
        <ul>
          <li class="footer-title">Для бизнеса</li>
          <li>Корпоративные подарки</li>
          <li>Для юридических лиц</li>
          <li>Оптовикам</li>
        </ul>
      </div>
  
      <!-- Правая часть: телефон и соцсети -->
      <div class="footer-right">
        <div class="footer-contacts">
          <div class="rights2">
            © 2021 Макароншоп<br />
            ООО "Квантум", Санкт-Петербург, улица Маршала Тухачевского, дом 22
          </div>
          <div class="numbers">
            <p class="phone">+7 (812) 309 82 88</p>
            <p class="time">с 9:00 до 21:00</p>
          </div>
         
        </div>
        <div class="social-media">
            <div class="image_circle">
                <img src="/assets/insta.png" alt="Instagram" />
            </div>
            <div class="image_circle">
                <img src="/assets/fbb.png" alt="Facebook" />
            </div>
            <div class="image_circle">
                <img src="/assets/vk.png" alt="VK" />
            </div>
          
     
        </div>
      </div>
    </div>
  </footer>
  