<section class="section_hero">
  <div class="section_hero_image">
    <img src="\assets\Group412.png" />
  </div>
  <div class="title">
    <img src="\assets\Group212.png" />
    <h1>Настоящая любовь</h1>
    <p>
      Пирожные макарон и другие десерты из натуральных ингридиентов,
      приготовленные с любовью
    </p>
  </div>
</section>

<section class="section_vibori">
  <div class="vibor">
    <p>Готовые наборы</p>
    <img src="\assets\arrowRight.png" />
  </div>
  <div class="vibor">
    <p>Собрать свой набор</p>
    <img src="\assets\arrowRight.png" />
  </div>
  <div class="vibor">
    <p>Набор с индивидуальной печатью</p>
    <img src="\assets\arrowRight.png" />
  </div>
  <div class="vibor">
    <p>Свадебные предложения</p>
    <img src="\assets\arrowRight.png" />
  </div>
  <div class="vibor">
    <p>Корпоративные подарки</p>
    <img src="\assets\arrowRight.png" />
  </div>
  <div class="vibor">
    <p>Для юридических лиц</p>
    <img src="\assets\arrowRight.png" />
  </div>
</section>

<section class="section_choices">
  <div class="box first">
    <img class="circle" src="\assets\four_macaroons.png" />
    <h4>Готовые наборы <img src="\assets\rightArrow.png" /></h4>
    <p>
      Готовые наборы со скидкой. Вы можете подобрать набор на подходящий случай.
    </p>
  </div>
  <div class="box second">
    <img class="circle" src="\assets\sic_mac.png" />
    <h4>Готовые наборы <img src="\assets\rightArrow.png" /></h4>
    <p>
      Готовые наборы со скидкой. Вы можете подобрать набор на подходящий случай.
    </p>
  </div>
  <div class="box third">
    <img class="circle" src="\assets\drawing.png" />
    <h4>Готовые наборы <img src="\assets\rightArrow.png" /></h4>
    <p>
      Готовые наборы со скидкой. Вы можете подобрать набор на подходящий случай.
    </p>
  </div>
  <div class="box fourth">
    <img class="circle" src="\assets\cake.png" />
    <h4>Готовые наборы <img src="\assets\rightArrow.png" /></h4>
    <p>
      Готовые наборы со скидкой. Вы можете подобрать набор на подходящий случай.
    </p>
  </div>
  <div class="box fifth">
    <img class="circle" src="\assets\present.png" />
    <h4>Готовые наборы <img src="\assets\rightArrow.png" /></h4>
    <p>
      Готовые наборы со скидкой. Вы можете подобрать набор на подходящий случай.
    </p>
  </div>
  <div class="box six">
    <img class="circle" src="\assets\chair.png" />
    <h4>Готовые наборы <img src="\assets\rightArrow.png" /></h4>
    <p>
      Готовые наборы со скидкой. Вы можете подобрать набор на подходящий случай.
    </p>
  </div>
</section>

<section class="sections_sales">
  <h3>Акции</h3>
  <div class="sale_boxes">
    <div class="sale_box other_sale_box">
      <img src="\assets\cupCookies.png" />
      <div class="sale_type">Бесплатная доставка</div>
      <p>По СПб в районе КАД – от 3000₽По МСК – от 5000₽</p>
    </div>
    <div class="sale_box first_sale_box">
      <img src="\assets\kartoshka.png" />
      <div class="sale_type">Бесплатная доставка</div>
      <p>По СПб в районе КАД – от 3000₽По МСК – от 5000₽</p>
    </div>
    <div class="sale_box other_sale_box">
      <img src="\assets\lolipop.png" />
      <div class="sale_type">Бесплатная доставка</div>
      <p>По СПб в районе КАД – от 3000₽По МСК – от 5000₽</p>
    </div>
    <div class="sale_box other_sale_box">
      <img src="\assets\pizza.png" />
      <div class="sale_type">Бесплатная доставка</div>
      <p>По СПб в районе КАД – от 3000₽По МСК – от 5000₽</p>
    </div>
  </div>
  <div class="kvadratiki">
    <div class="kvadrat first_kvadratik"></div>
    <div class="kvadrat"></div>
    <div class="kvadrat"></div>
  </div>
</section>

<section class="section-macarons">
  <h3>Ближайшие праздники</h3>
  <div class="line">
    <img src="\assets\Line-dot.png" />
  </div>
  <div class="macarons">
    <div class="macaron">
      <img src="\assets\mac-bd.png" />
      <p>День рождение близкого человека</p>
    </div>
    <div class="macaron">
      <img src="\assets\mac-blue.png" />
      <p>День рождение близкого человека</p>
    </div>
    <div class="macaron">
      <img src="\assets\mac-pink.png" />
      <p>День рождение близкого человека</p>
    </div>
    <div class="macaron non-visicle-mac">
      <img src="\assets\mac-yellow.png" />
      <p>День рождение близкого человека</p>
    </div>
    <div class="macaron non-visicle-mac">
      <img src="\assets\mac-blue2.png" />
      <p>День рождение близкого человека</p>
    </div>
    <div class="macaron non-visicle-mac">
      <img src="\assets\mac-pink2.png" />
      <p>День рождение близкого человека</p>
    </div>
  </div>
</section>

<section class="section_popular">
  <div class="section_popular_title">
    <h3>Популярные наборы</h3>
    <div class="interface_choose">
        <img
        src="\assets\boxes.png"
        (click)="setViewMode('grid')"
        [class.active-icon]="viewMode === 'grid'"
        [class.inactive-icon]="viewMode !== 'grid'"
      >
      
      <img
        src="\assets\RedInterface.png"
        (click)="setViewMode('list')"
        [class.active-icon]="viewMode === 'list'"
        [class.inactive-icon]="viewMode !== 'list'"
      >
    </div>
  </div>

  <div class="popular_cards" [ngClass]="viewMode">
    <div class="popular_card">
      <img class="popular_card_image" src="\assets\pop1.png" />
      <div class="popular_info">
        <p class="pop_title">Сердце</p>
        <p class="pop_subtitle">
          24 штуки в коробке в виде сердца.<br />
          Ассорти из 6 вкусов
        </p>
      </div>
      <div class="popular_purchase">
        <div class="price">
          <p>2800 руб</p>
        </div>
        <div class="korzina">
          <img src="\assets\paket.png" />
          <p>В корзину</p>
          <span class="buy">Купить</span>
        </div>
      </div>
    </div>
    <div class="popular_card">
      <img class="popular_card_image" src="\assets\krasota.png" />
      <div class="popular_info">
        <p class="pop_title">Сердце</p>
        <p class="pop_subtitle">
          24 штуки в коробке в виде сердца.<br />
          Ассорти из 6 вкусов
        </p>
      </div>
      <div class="popular_purchase">
        <div class="price">
          <p>2800 руб</p>
        </div>
        <div class="korzina">
          <img src="\assets\paket.png" />
          <p>В корзину</p>
          <span class="buy">Купить</span>
        </div>
      </div>
    </div>
    <div class="popular_card">
      <img class="popular_card_image" src="\assets\krugliy.png" />
      <div class="popular_info">
        <p class="pop_title">Сердце</p>
        <p class="pop_subtitle">
          24 штуки в коробке в виде сердца.<br />
          Ассорти из 6 вкусов
        </p>
      </div>
      <div class="popular_purchase">
        <div class="price">
          <p>2800 руб</p>
        </div>
        <div class="korzina">
          <img src="\assets\paket.png" />
          <p>В корзину</p>
          <span class="buy">Купить</span>
        </div>
      </div>
    </div>
    <div class="popular_card">
      <img class="popular_card_image" src="\assets\naborna9.png" />
      <div class="popular_info">
        <p class="pop_title">Сердце</p>
        <p class="pop_subtitle">
          24 штуки в коробке в виде сердца.<br />
          Ассорти из 6 вкусов
        </p>
      </div>
      <div class="popular_purchase">
        <div class="price">
          <p>2800 руб</p>
        </div>
        <div class="korzina">
          <img src="\assets\paket.png" />
          <p>В корзину</p>
          <span class="buy">Купить</span>
        </div>
      </div>
    </div>
    <div class="popular_card">
      <img class="popular_card_image" src="\assets\naborna16.png" />
      <div class="popular_info">
        <p class="pop_title">Сердце</p>
        <p class="pop_subtitle">
          24 штуки в коробке в виде сердца.<br />
          Ассорти из 6 вкусов
        </p>
      </div>
      <div class="popular_purchase">
        <div class="price">
          <p>2800 руб</p>
        </div>
        <div class="korzina">
          <img src="\assets\paket.png" />
          <p>В корзину</p>
          <span class="buy">Купить</span>
        </div>
      </div>
    </div>
    <div class="popular_card">
      <img class="popular_card_image" src="\assets\krugliy.png" />
      <div class="popular_info">
        <p class="pop_title">Сердце</p>
        <p class="pop_subtitle">
          24 штуки в коробке в виде сердца.<br />
          Ассорти из 6 вкусов
        </p>
      </div>
      <div class="popular_purchase">
        <div class="price">
          <p>2800 руб</p>
        </div>
        <div class="korzina">
          <img src="\assets\paket.png" />
          <p>В корзину</p>
          <span class="buy">Купить</span>
        </div>
      </div>
    </div>
  </div>

  <div class="getAll">
    <button class="getAll_button">Все праздничные наборы</button>
  </div>
</section>

<section class="section_popular">
  <div class="section_popular_title">
    <h3>Новости</h3>
  </div>

  <div class="popular_cards">
    <div class="popular_card">
      <img src="\assets\greenMacaroon.png" />
      <div class="popular_info">
        <p class="pop_subtitle dates">26.02.2025</p>
        <p class="pop_title">Скоро главный праздник весны</p>
        <p class="pop_subtitle news_subtitle">
          Девушки любят, когда вкусно, красиво и натурально. Смотрите больше
          наборов с десертами ручной работы
        </p>
      </div>
    </div>
    <div class="popular_card">
      <img src="\assets\first_loto.png" />
      <div class="popular_info">
        <p class="pop_subtitle dates">17.02.2025</p>
        <p class="pop_title">Конкурс на 23 февраля</p>
        <p class="pop_subtitle news_subtitle">
          День Защитника Отечества уже совсем скоро! Порадуйте своего сладкоежку
          с помощью аппетитных наборов от МакаронШоп
        </p>
      </div>
    </div>
    <div class="popular_card third_news">
      <img src="\assets\loveIs.png" />
      <div class="popular_info">
        <p class="pop_subtitle dates">11.02.2025</p>
        <p class="pop_title">Экспресс-конкурс ко дню Святого Валентина</p>
        <p class="pop_subtitle news_subtitle">
          Подарок уже через 2 дняДень всех влюблённых не за горами. Расскажи о
          своих чувствах с помощью сладкой валентинки от МакаронШоп
        </p>
      </div>
    </div>
  </div>

  <div class="kvadratiki">
    <div class="kvadrat first_kvadratik"></div>
    <div class="kvadrat"></div>
    <div class="kvadrat"></div>
  </div>

  <div class="getAll">
    <button class="getAll_button">Все новости</button>
  </div>
</section>

<section class="section_popular">
  <div class="section_popular_title">
    <h3>Мы обо всём позаботились</h3>
  </div>

  <div class="popular_cards last_cards">
    <div class="popular_card last_card">
      <img src="\assets\last1.png" />
      <div class="popular_info last_popular_info">
        <p class="pop_title">Лучшие ингридиенты</p>
        <p class="pop_subtitle">
          Что-то про суперкачество, лучших поваров, свежесть и т.д.
        </p>
      </div>
    </div>
    <div class="popular_card last_card">
      <img src="\assets\last2.png" />
      <div class="popular_info last_popular_info">
        <p class="pop_title">Упаковка</p>
        <p class="pop_subtitle news_subtitle">
          Что-то про суперкоробочки и бантики и бла бла бла
        </p>
      </div>
    </div>
    <div class="popular_card last_card">
      <img src="\assets\last3.png" />
      <div class="popular_info last_popular_info">
        <p class="pop_title">Получение в день заказа</p>
        <p class="pop_subtitle">
          В день заказа доставка курьером или самовывоз
        </p>
      </div>
    </div>

    <div class="popular_card last_card">
      <img src="\assets\last4.png" />
      <div class="popular_info last_popular_info">
        <p class="pop_title">Анонимная доставка</p>
        <p class="pop_subtitle">
          Можем преподнести Ваш заказ как анонимный подарок
        </p>
      </div>
    </div>
  </div>
</section>
